bin/
.moc/
.obj/
.qrc/
.ui/

output/

*.user*

#Makefile files

Makefile
Makefile.Debug
Makefile.Release

object_script.webpassware.Debug
object_script.webpassware.Release


/.qmake.stash

bin/webpassware
tests/ORM_test/test_orm
CURRENT_VERSION.TXT

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

